*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    overflow: hidden;
}
#canvas1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}
#playerImage, #backgroundImage, #enemyImage{
    display: none;
}
#screenNotResponsive{
    display: none;
}
@media screen and (max-width: 1024px) {
    #screenNotResponsive{
        width: 100%;
        min-height: 100vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #screenNotResponsive h1{
        text-align: center;
        font-size: 50px;
    }
}